In [434]:
# Load required libraries
import pandas as pd
import numpy as np

In [435]:
# Read xls
dataPathPrefix ='/Users/alok/Google Drive/SocialCops/NRHM/Maharashtra/Nagpur/2015-16/Data/DHIS (APRIL 15-MARCH 16)/BHIWAPUR BLOCK/PHC/Copy of MonthlyProgressReportMIES_';

# Header is in 8th row; we skip first two columns and make 3rd and 4th columns (now 1st and 2nd read) as combined index  
df = pd.read_excel(dataPathPrefix+'PHC Nand (Nagpur)_Apr-2015.xls',parse_cols=range(2,16),header=7,index_col=[0,1])

In [436]:
# Drop unrecorded data and transpose
data = df.dropna(how='all').T

In [437]:
data.head()

         Total number of pregnant women Registered for ANC    \
                                                       TOTAL
Apr-2015                                               23.0
May-2015                                               28.0
Jun-2015                                               19.0
Jul-2015                                               28.0
Aug-2015                                               34.0

         Of which Number registered within first trimester  \
                                                     TOTAL
Apr-2015                                              18.0
May-2015                                              19.0
Jun-2015                                              15.0
Jul-2015                                              24.0
Aug-2015                                              27.0

         New women registered under JSY  \
                                  TOTAL
Apr-2015                           13.0
May-2015                           14.0
Jun-2015                            9.0
Jul-2015                           15.0
Aug-2015                           24.0

         Number of pregnant women received 3 ANC check ups   TT1  \
                                                     TOTAL TOTAL
Apr-2015                                              32.0  17.0
May-2015                                              30.0  16.0
Jun-2015                                              22.0  10.0
Jul-2015                                              30.0  17.0
Aug-2015                                              20.0  19.0

         TT2 or Booster Total number of pregnant women given 100 IFA tablets  \
                  TOTAL                                                TOTAL
Apr-2015           28.0                                               22.0
May-2015           26.0                                               19.0
Jun-2015           27.0                                                7.0
Jul-2015           16.0                                               14.0
Aug-2015           32.0                                               13.0

         New cases detected at institution  \
                                     TOTAL
Apr-2015                               0.0
May-2015                               0.0
Jun-2015                               0.0
Jul-2015                               0.0
Aug-2015                               2.0

         Number of Eclampsia cases managed during delivery  \
                                                     TOTAL
Apr-2015                                               0.0
May-2015                                               0.0
Jun-2015                                               0.0
Jul-2015                                               0.0
Aug-2015                                               0.0

         Number having Hb level<11 (tested cases)  ...  Known Acute Disease  \
                                            TOTAL  ...        Above 55 yrs.
Apr-2015                                     23.0  ...                  0.0
May-2015                                     28.0  ...                  0.0
Jun-2015                                     19.0  ...                  0.0
Jul-2015                                     24.0  ...                  0.0
Aug-2015                                     34.0  ...                  2.0

               Known Chronic Disease                                 \
         Total              6-14 yrs 15-55 yrs. Above 55 yrs. Total
Apr-2015   0.0                   0.0        0.0           0.0   0.0
May-2015   0.0                   1.0        0.0           3.0   4.0
Jun-2015   0.0                   0.0        0.0           0.0   0.0
Jul-2015   0.0                   0.0        1.0           2.0   3.0
Aug-2015   3.0                   0.0        1.0           0.0   1.0

         Causes not known
                 6-14 yrs 15-55 yrs. Above 55 yrs. Total
Apr-2015              1.0        1.0           0.0   2.0
May-2015              0.0        0.0           1.0   1.0
Jun-2015              0.0        1.0           1.0   2.0
Jul-2015              0.0        1.0           0.0   1.0
Aug-2015              0.0        1.0           5.0   6.0

[5 rows x 297 columns]

In [438]:
# multi-index works
df.iloc[250:260,:]

                                       Apr-2015  May-2015  Jun-2015  Jul-2015  \
HIV tests conducted   TOTAL                 NaN       NaN       NaN       NaN
Male                  Number Positive       0.0       0.0       0.0       0.0
                      Number tested        18.0      16.0      24.0      25.0
Female-Non ANC        Number Positive       0.0       0.0       0.0       0.0
                      Number tested         3.0       2.0       4.0       2.0
Female with ANC       Number Positive       0.0       0.0       0.0       0.0
                      Number tested        23.0      21.0      29.0      29.0
Total {(a) to (c)}    Number Positive       0.0       0.0       0.0       0.0
                      Number tested        44.0      39.0      57.0      56.0
Widal tests conducted Number tested        21.0      17.0       0.0      17.0

                                       Aug-2015  Sep-2015  Oct-2015  Nov-2015  \
HIV tests conducted   TOTAL                 NaN       NaN       NaN       NaN
Male                  Number Positive       0.0       0.0       0.0       0.0
                      Number tested        27.0      52.0      31.0       2.0
Female-Non ANC        Number Positive       0.0       0.0       0.0       0.0
                      Number tested         4.0       4.0       2.0       0.0
Female with ANC       Number Positive       0.0       0.0       0.0       0.0
                      Number tested        26.0      27.0      48.0       8.0
Total {(a) to (c)}    Number Positive       0.0       0.0       0.0       0.0
                      Number tested        57.0      83.0      81.0      10.0
Widal tests conducted Number tested        17.0      24.0      27.0      12.0

                                       Dec-2015  Jan-2016  Feb-2016  Mar-2016
HIV tests conducted   TOTAL                 NaN       NaN       NaN       NaN
Male                  Number Positive       0.0       0.0       0.0       0.0
                      Number tested        21.0      24.0      23.0      38.0
Female-Non ANC        Number Positive       0.0       0.0       0.0       0.0
                      Number tested         2.0       2.0       1.0       3.0
Female with ANC       Number Positive       0.0       0.0       0.0       0.0
                      Number tested        21.0      31.0      24.0      29.0
Total {(a) to (c)}    Number Positive       0.0       0.0       0.0       0.0
                      Number tested        44.0      57.0      48.0      70.0
Widal tests conducted Number tested        23.0      19.0      12.0      15.0

In [439]:
# Collecting and combining dataframes part by part

# Collecting for ANC 
df1 = pd.concat({"General": pd.concat([data.iloc[:,0:4],data.iloc[:,11:12]],axis=1)}, axis=1)
df2 = pd.concat({"Number of pregnant women given": data.iloc[:,4:7]}, axis=1)
df3 = pd.concat({"Pregnant women with Hypertension (BP>140/90)": data.iloc[:,7:9]}, axis=1)
df4 = pd.concat({"Pregnant women with Anaemia": data.iloc[:,9:11]}, axis=1)
# Concatenating 
frames = [df1,df2, df3,df4]
dfANC = pd.concat({"ANC ": pd.concat(frames,axis=1)}, axis=1)

In [453]:
# Deliveries
df5 = pd.concat({"Home": pd.concat([data.iloc[:,12:17],pd.concat({"JSY Incentive paid to": data.iloc[:,19:22]}, axis=1)],axis=1)}, axis=1)
df6 = pd.concat({"Public Institutions": pd.concat([data.iloc[:,17:19],pd.concat({"JSY Incentive paid to": data.iloc[:,23:26]}, axis=1)],axis=1)}, axis=1)
df7 = pd.concat({"Private Institutions": data.iloc[:,22:23]}, axis=1) 
frames = [df5,df6,df7]
dfDeliveries = pd.concat({"Deliveries": pd.concat(frames,axis=1)}, axis=1)

# C-Sections
df8 = pd.concat({"Public Institutions": data.iloc[:,26:31]}, axis=1)
df9 = pd.concat({"Private Institutions": data.iloc[:,31:32]}, axis=1)
frames = [df8,df9]
dfCSec = pd.concat({"C-Sections performed at": pd.concat(frames,axis=1)}, axis=1)

# Pregnancy Outcomes and Newborn details
df10 = pd.concat({"Pregnancy Outcome ": data.iloc[:,32:37]}, axis=1)
df11 = pd.concat({"Details of Newborn children weighed": data.iloc[:,37:40]}, axis=1)
frames = [df10,df11]
dfPr = pd.concat({"Pregnancy outcome and New-born details": pd.concat(frames,axis=1)}, axis=1)

# Complicated Pregnancies
df12 = pd.concat({"Public Institutions": data.iloc[:,40:45]}, axis=1)
df13 = pd.concat({"Private Institutions": data.iloc[:,45:46]}, axis=1)
df14 = pd.concat({"Treatement": data.iloc[:,46:50]}, axis=1)
frames = [df12,df13,df14]
dfComplicated = pd.concat({"Complicated Pregnancies": pd.concat(frames,axis=1)}, axis=1)

# Post - Natal Care
df15 = pd.concat({"General": data.iloc[:,50:53]}, axis=1)
frames = [df15]
dfPNC = pd.concat({"Post - Natal Care": pd.concat(frames,axis=1)}, axis=1)

# Medically Terminated Pregnancies
df16 = pd.concat({"Public Institutions": data.iloc[:,53:56]}, axis=1)
df17 = pd.concat({"Private Institutions": data.iloc[:,56:57]}, axis=1)
frames = [df16,df17]
dfMTP = pd.concat({"Medical Termination of Pregnancy (MTP)": pd.concat(frames,axis=1)}, axis=1)

# RTI/STI Cases
df18 = pd.concat({"Number of new RTI/STI for which treatment initiated": data.iloc[:,57:61]}, axis=1)
frames = [df18]
dfRTI = pd.concat({"RTI/STI Cases": pd.concat(frames,axis=1)}, axis=1)

# Family planning
df19 = pd.concat({"Public Institutions": data.iloc[:,61:66]}, axis=1)
df20 = pd.concat({"Private Institutions": data.iloc[:,66:67]}, axis=1)
frames = [df19,df20]
dfNSV = pd.concat({"Number of NSV/Conventional Vasectomy conducted at": pd.concat(frames,axis=1)}, axis=1)
df21 = pd.concat({"Public Institutions": data.iloc[:,67:72]}, axis=1)
df22 = pd.concat({"Private Institutions": data.iloc[:,72:73]}, axis=1)
frames = [df21,df22]
dfLS = pd.concat({"Number of Laparoscopic sterilizations conducted at": pd.concat(frames,axis=1)}, axis=1)
df23 = pd.concat({"Public Institutions": data.iloc[:,73:78]}, axis=1)
df24 = pd.concat({"Private Institutions": data.iloc[:,78:79]}, axis=1)
frames = [df23,df24]
dfMS = pd.concat({"Number of Mini-lap sterilizations conducted at": pd.concat(frames,axis=1)}, axis=1)
df25 = pd.concat({"Public Institutions": data.iloc[:,79:84]}, axis=1)
df26 = pd.concat({"Private Institutions": data.iloc[:,84:85]}, axis=1)
frames = [df25,df26]
dfPP = pd.concat({"Number of Post-Partum sterilizations conducted at": pd.concat(frames,axis=1)}, axis=1)
df27 = pd.concat({"Public Institutions": data.iloc[:,85:91]}, axis=1)
df28 = pd.concat({"Private Institutions": data.iloc[:,91:92]}, axis=1)
dfOthers = pd.concat({"Others": data.iloc[:,92:97]}, axis=1)
frames = [df27,df28,dfOthers]
dfIUD = pd.concat({"Number of IUD Insertions at": pd.concat(frames,axis=1)}, axis=1)
df29 = pd.concat({"Complications following sterlization": data.iloc[:,97:99]}, axis=1)
df30 = pd.concat({"Failures following sterlization": data.iloc[:,99:101]}, axis=1)
df31 = pd.concat({"Deaths following sterlization": data.iloc[:,101:103]}, axis=1)
df32 = pd.concat({"General": data.iloc[:,103:104]}, axis=1)
frames = [df29,df30,df31,df32]
dfSter = pd.concat({"Quality in sterilization services": pd.concat(frames,axis=1)}, axis=1)
frames = [dfNSV,dfLS,dfMS,dfPP,dfIUD,dfSter]
dfFamily = pd.concat({"Family Planning": pd.concat(frames,axis=1)}, axis=1)

# Child Immunisation
df33 = pd.concat({"Number of Infants 0 to 11 months old who received": data.iloc[:,104:121]}, axis=1)
df34 = pd.concat({"Number of children aged between 9 and 11 months who have been fully immunised": data.iloc[:,121:125]}, axis=1)
df35 = pd.concat({"Number of children more than 16 months who received": data.iloc[:,125:127]}, axis=1)
df36 = pd.concat({"Number of children aged between 12 and 23 months who have been fully immunised": data.iloc[:,127:133]}, axis=1)
df37 = pd.concat({"Adverse Event Following Immunisation (AEFI)": data.iloc[:,133:136]}, axis=1)
df38 = pd.concat({"Immunisation Sessions": data.iloc[:,136:139]}, axis=1)
frames = [df33,df34,df35,df36,df37,df38]
dfIm = pd.concat({"Child Immunisation": pd.concat(frames,axis=1)}, axis=1)

# Vitamin A
df39 = pd.concat({"Administered between 9 months and 5 years": data.iloc[:,139:142]}, axis=1)
frames = [df39]
dfVA = pd.concat({"Vitamin A Doses": pd.concat(frames,axis=1)}, axis=1)

# Childhood Diseases
df40 = pd.concat({"Reported during 0 months and 5 years": data.iloc[:,142:151]}, axis=1)
frames = [df40]
dfDis = pd.concat({"Childhood diseases": pd.concat(frames,axis=1)}, axis=1)

# Consolidating for Reproductive and Child Health
frames = [dfANC,dfDeliveries,dfCSec,dfPr,dfComplicated,dfPNC,dfMTP,dfRTI,dfFamily,dfIm,dfVA,dfDis]
dfA = pd.concat({"Reproductive and Child Health": pd.concat(frames,axis=1)}, axis=1)

# Consolidating for Other Programmes
df41 = pd.concat({"Details": data.iloc[:,151:157]}, axis=1)
frames = [df41]
dfBlind = pd.concat({"Blindness Control Programme": pd.concat(frames,axis=1)}, axis=1)
frames = [dfBlind]
dfB = pd.concat({"Other Programmes": pd.concat(frames,axis=1)}, axis=1)

# Consolidating for Health Facility Services
df42 = pd.concat({"Details": data.iloc[:,157:166]}, axis=1)
df43 = pd.concat({"Inpatient": pd.concat([data.iloc[:,166:172],data.iloc[:,175:176]],axis=1)}, axis=1)
df44 = pd.concat({"Deaths": data.iloc[:,172:175]}, axis=1)
df45 = pd.concat({"Outpatient": data.iloc[:,176:177]}, axis=1)
df46 = pd.concat({"Operation Theatre": data.iloc[:,177:180]}, axis=1)
df47 = pd.concat({"Others": data.iloc[:,180:183]}, axis=1)
frames = [df42,df43,df44,df45,df46,df47]
dfHealth = pd.concat({"Patient Services": pd.concat(frames,axis=1)}, axis=1)
df48 = pd.concat({"Hb Tests": data.iloc[:,183:185]}, axis=1)
df49 = pd.concat({"HIV Tests": data.iloc[:,185:193]}, axis=1)
df50 = pd.concat({"Widal Tests": data.iloc[:,193:194]}, axis=1)
df51 = pd.concat({"VRDL Tests": data.iloc[:,194:198]}, axis=1)
df52 = pd.concat({"Malaria Tests": data.iloc[:,198:201]}, axis=1)
frames = [df48,df49,df50,df51,df52]
dfTests = pd.concat({"Laboratory Testing": pd.concat(frames,axis=1)}, axis=1)
frames = [dfHealth,dfTests]
dfC = pd.concat({"Health Facility Services": pd.concat(frames,axis=1)}, axis=1)


# Consolidating for Mortality Details
df53 = pd.concat({"Within 24 hours": data.iloc[:,201:202]}, axis=1)
df54 = pd.concat({"Infant Deaths up to 4 weeks by cause": data.iloc[:,202:214]}, axis=1)
df55 = pd.concat({"Infant/Child Deaths up to 5 years by cause": data.iloc[:,214:229]}, axis=1)
frames = [df53,df54,df55]
dfInfants = pd.concat({"Infant/Child Deaths": pd.concat(frames,axis=1)}, axis=1)
df56 = pd.concat({"Adolescent/Adult deaths by cause": pd.concat([data.iloc[:,229:261],data.iloc[:,285:297]],axis=1)}, axis=1)
df57 = pd.concat({"Maternal Deaths": data.iloc[:,261:285]}, axis=1)
frames = [df56,df57]
dfAdults = pd.concat({"Adults Deaths": pd.concat(frames,axis=1)}, axis=1)
frames = [dfInfants,dfAdults]
dfD = pd.concat({"Mortality Details": pd.concat(frames,axis=1)}, axis=1)

In [458]:
# Combining for whole village and writing to xlsx
frames = [dfA,dfB,dfC,dfD]
dfVillage = pd.concat({"Village: Nand": pd.concat(frames,axis=1)}, axis=1)
writer = pd.ExcelWriter('Output/Village: Nand - Consolidated.xlsx')
dfVillage.T.to_excel(writer,'Sheet1')
writer.save()