In [215]:
import pandas as pd
import numpy as np
from bokeh.io import output_notebook, show
from bokeh.plotting import figure
from bokeh.charts import Bar,Line

In [216]:
output_notebook()

In [217]:
# Load consolidated data
nagpurData = pd.read_excel('~/Workspace/SocialCops/NRHM/Maharashtra/Nagpur/2015-16/Scripts/Preprocessing/Output/Cleaned/Nagpur - Consolidated.xlsx',index_col=range(5))
nagpurData = nagpurData.sort_index(level=0)

## Available metrices

In [218]:
# Available metrices
nagpurData.index.levels[0].values

array([u'Health Facility Services', u'Mortality Details',
       u'Other Programmes', u'Reproductive and Child Health'], dtype=object)

In [219]:
nagpurData.index

MultiIndex(levels=[[u'Health Facility Services', u'Mortality Details', u'Other Programmes', u'Reproductive and Child Health'], [u'ANC', u'Adults Deaths', u'Blindness Control Programme', u'C-Sections performed at', u'Child Immunisation', u'Childhood diseases', u'Complicated Pregnancies', u'Deliveries', u'Family Planning', u'Infant/Child Deaths', u'Laboratory Testing', u'Medical Termination of Pregnancy (MTP)', u'Patient Services', u'Post Natal Care', u'Pregnancy outcome and New-born details', u'RTI/STI Cases', u'Vitamin A Doses'], [u'Administered between 9 months and 5 years', u'Adolescent/Adult deaths by cause', u'Adverse Event Following Immunisation (AEFI)', u'Deaths', u'Details', u'Details of Newborn children weighed', u'General', u'HIV Tests', u'Hb Tests', u'Home', u'Immunisation Sessions', u'Infant Deaths up to 4 weeks by cause', u'Infant/Child Deaths up to 5 years by cause', u'Inpatient', u'Malaria Tests', u'Maternal Deaths', u'Number of IUD Insertions at', u'Number of Infants 0 to 11 months old who received', u'Number of Laparoscopic sterilizations conducted at', u'Number of Mini-lap sterilizations conducted at', u'Number of NSV/Conventional Vasectomy conducted at', u'Number of Post-Partum sterilizations conducted at', u'Number of children aged between 12 and 23 months who have been fully immunised', u'Number of children aged between 9 and 11 months who have been fully immunised', u'Number of children more than 16 months who received', u'Number of new RTI/STI for which treatment initiated', u'Number of pregnant women given', u'Operation Theatre', u'Others', u'Outpatient', u'Pregnancy Outcome ', u'Pregnant women with Anaemia', u'Pregnant women with Hypertension (BP>140/90)', u'Private Institutions', u'Public Institutions', u'Quality in sterilization services', u'Reported during 0 months and 5 years', u'Treatement', u'VRDL Tests', u'Widal Tests', u'Within 24 hours'], [u'AYUSH', u'Abortion', u'Abortion (spontaneous/induced)', u'Abscess', u'Adolescent counselling services', u'Animal bites and stings', u'Asphyxia', u'At CHCs ', u'At Other State Owned Public Institutions', u'At PHCs ', u'At Sub-divisional hospitals/ District Hospitals', u'BCG', u'Bleeding', u'Blood Transfusion ', u'Blood smears examined', u'CHC ', u'Causes not known', u'Children more than 10 years given TT10', u'Children more than 16 years given TT16', u'Children more than 5 years given DT5', u'Complications following sterlization', u'DPT Booster', u'DPT1', u'DPT2', u'DPT3', u'Death', u'Deaths following sterlization', u'Deliveries conducted at Public Institutions ', u'Dental Procedures', u'Diarrhoea', u'Diarrhoea and dehydration', u'Diarrhoeal diseases', u'Diphtheria                         ', u'Dose-1', u'Dose-5', u'Dose-9', u'Failures following sterlization', u'Female', u'Female with ANC', u'Female-Non ANC', u'Fever related', u'General', u'HIV/AIDS', u'Heart disease/Hypertension related', u'Held', u'Hepatitis-B0', u'Hepatitis-B1', u'Hepatitis-B2', u'Hepatitis-B3', u'High fever', u'IV Oxytocis', u'IV antibiotics', u'IV antihypertensive/Magsulph injection', u'In-Patient Head Count at midnight', u'Infant deaths within 24 hrs of birth', u'JSY Incentive paid to', u'Known Acute Disease', u'Known Chronic Disease', u'LBW', u'Malaria', u'Male', u'Measles', u'Measles 2nd Dose', u'More than 12 weeks of pregnancy', u'Neurological disease including strokes', u'New cases detected at institution', u'New women registered under JSY', u'No. of children aged 9 to 12 months who received JE 1st dose', u'Non SBA (Trained TBA/Relatives/etc.)', u'Number admitted with Respiratory Infections', u'Number having Hb level<11 (tested cases)', u'Number having severe anaemia (Hb<7) treated at institution', u'Number of  facilities having Ambulance services  Assured Referral Services available', u'Number of Anganwadi centres reported to have conducted VHNDs', u'Number of CHC/ SDH/ DH functioning as an FRUs', u'Number of Deliveries  at accredited Private Institutions', u'Number of Eclampsia cases managed during delivery', u'Number of Hb tests conducted', u'Number of Institutions having Operational Sick New Born and Child Care Units', u'Number of Intraocular Lens(IOL) implantations', u'Number of MTPs conducted at Private Facilities', u'Number of Newborns breast fed within 1 hour', u'Number of Newborns having weight less than 2.5 kg', u'Number of Newborns weighed at birth', u'Number of PHCs functioning  24X7 3 Staff Nurses?', u'Number of Patients operated for cataract', u'Number of RKS meetings held during the month', u'Number of School children detected with Refractive errors', u'Number of cases of pregnant women with Obstetric Complications and attended at Private facilities', u'Number of children provided free glasses', u'Number of eyes collected', u'Number of eyes utilised', u'Number of facilities having a Rogi Kalyan Samiti', u'Number of functional Laproscopes in CHC/SDH/DH', u'Number of mothers paid JSY incentive for Home deliveries', u'Number of newborns visited within 24 hours of Home Delivery', u'Number of pregnancy kits used at Sub-centre', u'Number of pregnant women received 3 ANC check ups', u'Number of wet mount tests conducted', u'OPD attendance (All)', u'OPV 0 (Birth Dose)', u'OPV Booster', u'OPV1', u'OPV2', u'OPV3', u'Obstructed/prolonged labour', u'Of which Number discharged under 48 hours of delivery', u'Of which Number registered within first trimester', u'Of which number having Hb < 7 mg', u'Operation major (General and spinal anaesthesia)', u'Operation minor (No or local anaesthesia)', u'Other Causes (including causes not known)', u'Other Fever Related', u'Others', u'Out of 14.13.1, Gynecology-Hysterectomy Surgeries ', u'PHC', u'PNC maternal complications attended ', u'Pentavalent 1', u'Pentavalent 2', u'Pentavalent 3', u'Pertussis                            ', u'Planned', u'Plasmodium Falciparum test positive', u'Plasmodium Vivax test positive', u'Pneumonia', u'Polio', u'Private Institutions', u'Private facilities', u'Public Institutions', u'Respiratory diseases including infections (other than TB)', u'SBA Trained (Doctor/Nurse/ANM)', u'Sepsis', u'Sessions where ASHAs were present', u'Severe hypertesnion/fits', u'Still Birth', u'Sub-divisional hospital/District Hospital', u'Suicide', u'TT1', u'TT2 or Booster', u'Tetanus Neonatorum', u'Tetanus others', u'Total ({a} + {b})', u'Total Number of times the Ambulance was used for transporting patients during the month', u'Total number of pregnant women Registered for ANC  ', u'Total number of pregnant women given 100 IFA tablets', u'Total {(3.1.1) to (3.1.4)}', u'Total {(5.1.1) to (5.1.4)}', u'Total {(7.1.1) to (7.1.2)}', u'Total {(a) to (b)}', u'Total {(a) to (c)}', u'Trauma/Accidents/Burn cases ', u'Tuberculosis', u'Up to 12 weeks of pregnancy', u'Widal tests conducted', u'Women getting a post partum check up between 48 hours and 14 days', u'Women receiving post partum check-up within 48 hours after delivery'], [u'15-55 yrs.', u'6-14 yrs', u'ANM or AWW (only for HPS States)', u'ASHAs', u'Above 55 yrs.', u'Adults', u'At CHCs ', u'At Other State Owned Public Institutions', u'At PHCs ', u'At Private facilities', u'At Sub-Centres ', u'At Sub-divisional hospitals/ District Hospitals', u'Between 1 month and 11 months', u'Between 1 week & 4 weeks of birth', u'Between 1 year & 5 years', u'Children', u'Female', u'Male', u'Mothers ', u'Number Positive', u'Number of Centchroman (weekly) pills given', u'Number of Condom pieces distributed', u'Number of Emergency Contraceptive Pills distributed', u'Number of IUD removals', u'Number of Institutions having NSV trained doctors', u'Number of Oral Pills cycles distributed', u'Number tested', u'Out of above total, Post-partum (within 48 hours of delivery) IUD Insertions', u'Private facilities', u'TOTAL', u'Total', u'Total {(a) to (d)}', u'Total {(a) to (e)}', u'Up to 1 Weeks of Birth']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 11, 11, 11, 11, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 16, 16, 16], [7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 14, 14, 14, 38, 38, 38, 38, 39, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 13, 13, 13, 13, 13, 27, 27, 27, 28, 28, 28, 29, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 40, 4, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 26, 26, 26, 31, 31, 32, 32, 33, 34, 34, 34, 34, 34, 2, 2, 2, 10, 10, 10, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 24, 24, 36, 36, 36, 36, 36, 36, 36, 36, 36, 33, 34, 34, 34, 34, 34, 37, 37, 37, 37, 9, 9, 9, 9, 9, 33, 33, 33, 33, 34, 34, 34, 34, 34, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 35, 35, 35, 35, 35, 35, 35, 33, 34, 34, 34, 6, 6, 6, 5, 5, 5, 30, 30, 30, 30, 30, 25, 25, 25, 25, 0, 0, 0], [38, 38, 39, 39, 60, 60, 149, 149, 77, 108, 14, 122, 123, 38, 39, 60, 149, 153, 37, 60, 148, 72, 73, 74, 78, 84, 86, 92, 93, 142, 37, 37, 53, 60, 60, 148, 148, 109, 110, 114, 0, 4, 28, 99, 16, 16, 16, 16, 31, 31, 31, 31, 42, 42, 42, 42, 43, 43, 43, 43, 56, 56, 56, 56, 57, 57, 57, 57, 59, 59, 59, 59, 64, 64, 64, 64, 112, 112, 112, 112, 129, 129, 129, 129, 151, 151, 151, 151, 1, 1, 5, 5, 5, 5, 12, 12, 49, 49, 105, 105, 111, 111, 133, 133, 136, 136, 136, 136, 150, 150, 150, 150, 6, 6, 6, 58, 58, 58, 113, 113, 113, 131, 131, 131, 29, 29, 29, 40, 40, 40, 61, 61, 61, 113, 113, 113, 124, 124, 124, 54, 79, 85, 87, 89, 90, 91, 66, 96, 97, 107, 143, 137, 138, 144, 70, 71, 65, 76, 127, 8, 15, 115, 135, 145, 3, 25, 113, 44, 121, 132, 11, 22, 23, 24, 45, 46, 47, 48, 61, 62, 100, 102, 103, 104, 117, 118, 119, 17, 18, 19, 37, 60, 148, 37, 60, 67, 148, 21, 101, 30, 32, 59, 61, 69, 120, 125, 139, 140, 88, 7, 8, 9, 10, 146, 13, 50, 51, 52, 68, 94, 95, 130, 148, 55, 55, 55, 75, 27, 55, 55, 55, 106, 113, 113, 113, 113, 113, 126, 128, 128, 128, 128, 128, 128, 126, 128, 128, 128, 128, 128, 126, 128, 128, 128, 128, 128, 126, 128, 128, 128, 128, 128, 126, 128, 128, 128, 128, 128, 20, 20, 26, 26, 36, 36, 41, 80, 63, 147, 152, 116, 154, 155, 81, 82, 83, 2, 37, 60, 134, 141, 37, 60, 98, 148, 33, 34, 35], [19, 26, 19, 26, 19, 26, 19, 26, 29, 29, 29, 29, 29, 26, 26, 26, 26, 26, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 5, 15, 29, 5, 15, 5, 15, 29, 29, 29, 29, 29, 29, 29, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 1, 4, 30, 0, 30, 0, 1, 4, 30, 0, 30, 0, 30, 0, 30, 0, 30, 0, 30, 0, 1, 4, 30, 0, 1, 4, 30, 13, 30, 33, 13, 30, 33, 13, 30, 33, 13, 30, 33, 12, 14, 30, 12, 14, 30, 12, 14, 30, 12, 14, 30, 12, 14, 30, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2, 3, 18, 29, 29, 2, 3, 18, 29, 20, 21, 22, 23, 25, 28, 6, 8, 10, 11, 27, 32, 9, 6, 7, 8, 11, 31, 9, 6, 7, 8, 11, 31, 9, 6, 7, 8, 11, 31, 28, 6, 7, 8, 11, 31, 16, 17, 16, 17, 16, 17, 24, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29]])

## Reproductive and Child Health

### Deliveries

In [220]:
deliveryData = nagpurData.loc['Reproductive and Child Health','Deliveries']
homeDeliveries = deliveryData.loc['Home']
privDeliveries = deliveryData.loc['Private Institutions']
publicDeliveries = deliveryData.loc['Public Institutions']

In [221]:
deliveryFrames = [homeDeliveries.loc['Total {(a) to (b)}','TOTAL']
          ,privDeliveries.loc['Number of Deliveries  at accredited Private Institutions','TOTAL']
          ,publicDeliveries.loc['Deliveries conducted at Public Institutions ','TOTAL']]
data = pd.concat(deliveryFrames,axis=1)
data.columns = ['Home','Private','Public']
p = Line(data, notebook=True)
p.xaxis.axis_label = 'Month'
p.yaxis.axis_label = '#Deliveires'
p.width = 400
p.height = 400
#show(p)
data

          Home  Private  Public
Apr-2015     8      705     738
May-2015     8      697     791
Jun-2015     4      719     784
Jul-2015    21      780     821
Aug-2015    10      845     957
Sep-2015    16      925    1089
Oct-2015    24      956    1090
Nov-2015    16      841     908
Dec-2015    10      855     864
Jan-2016     0      792     739
Feb-2016     2      735     689
Mar-2016     4      771     767

A rough estimate for number of pregnant woman at any given time - total number of births over next 9 months

In [225]:
privDeliveries

                                                                                     Apr-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   14
                                                   Mothers                                152
Number of Deliveries  at accredited Private Ins... TOTAL                                  705

                                                                                     May-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   10
                                                   Mothers                                170
Number of Deliveries  at accredited Private Ins... TOTAL                                  697

                                                                                     Jun-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   12
                                                   Mothers                                176
Number of Deliveries  at accredited Private Ins... TOTAL                                  719

                                                                                     Jul-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   20
                                                   Mothers                                121
Number of Deliveries  at accredited Private Ins... TOTAL                                  780

                                                                                     Aug-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                    4
                                                   Mothers                                218
Number of Deliveries  at accredited Private Ins... TOTAL                                  845

                                                                                     Sep-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   18
                                                   Mothers                                228
Number of Deliveries  at accredited Private Ins... TOTAL                                  925

                                                                                     Oct-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                    4
                                                   Mothers                                220
Number of Deliveries  at accredited Private Ins... TOTAL                                  956

                                                                                     Nov-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                    0
                                                   Mothers                                168
Number of Deliveries  at accredited Private Ins... TOTAL                                  841

                                                                                     Dec-2015  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   18
                                                   Mothers                                187
Number of Deliveries  at accredited Private Ins... TOTAL                                  855

                                                                                     Jan-2016  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   18
                                                   Mothers                                200
Number of Deliveries  at accredited Private Ins... TOTAL                                  792

                                                                                     Feb-2016  \
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   18
                                                   Mothers                                200
Number of Deliveries  at accredited Private Ins... TOTAL                                  735

                                                                                     Mar-2016
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                   20
                                                   Mothers                                168
Number of Deliveries  at accredited Private Ins... TOTAL                                  771

In [226]:
publicDeliveries

                                                                                     Apr-2015  \
Deliveries conducted at Public Institutions        TOTAL                                  738
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  546
                                                   Mothers                                288
Of which Number discharged under 48 hours of de... TOTAL                                    9

                                                                                     May-2015  \
Deliveries conducted at Public Institutions        TOTAL                                  791
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  659
                                                   Mothers                                335
Of which Number discharged under 48 hours of de... TOTAL                                    4

                                                                                     Jun-2015  \
Deliveries conducted at Public Institutions        TOTAL                                  784
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  581
                                                   Mothers                                365
Of which Number discharged under 48 hours of de... TOTAL                                   12

                                                                                     Jul-2015  \
Deliveries conducted at Public Institutions        TOTAL                                  821
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  811
                                                   Mothers                               1054
Of which Number discharged under 48 hours of de... TOTAL                                    7

                                                                                     Aug-2015  \
Deliveries conducted at Public Institutions        TOTAL                                  957
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  936
                                                   Mothers                                446
Of which Number discharged under 48 hours of de... TOTAL                                    5

                                                                                     Sep-2015  \
Deliveries conducted at Public Institutions        TOTAL                                 1089
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  882
                                                   Mothers                                535
Of which Number discharged under 48 hours of de... TOTAL                                    9

                                                                                     Oct-2015  \
Deliveries conducted at Public Institutions        TOTAL                                 1090
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  977
                                                   Mothers                                476
Of which Number discharged under 48 hours of de... TOTAL                                   50

                                                                                     Nov-2015  \
Deliveries conducted at Public Institutions        TOTAL                                  908
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  744
                                                   Mothers                                443
Of which Number discharged under 48 hours of de... TOTAL                                    2

                                                                                     Dec-2015  \
Deliveries conducted at Public Institutions        TOTAL                                  864
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  732
                                                   Mothers                                403
Of which Number discharged under 48 hours of de... TOTAL                                   20

                                                                                     Jan-2016  \
Deliveries conducted at Public Institutions        TOTAL                                  739
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  731
                                                   Mothers                                343
Of which Number discharged under 48 hours of de... TOTAL                                   15

                                                                                     Feb-2016  \
Deliveries conducted at Public Institutions        TOTAL                                  689
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                  935
                                                   Mothers                                343
Of which Number discharged under 48 hours of de... TOTAL                                    6

                                                                                     Mar-2016
Deliveries conducted at Public Institutions        TOTAL                                  767
JSY Incentive paid to                              ANM or AWW (only for HPS States)         0
                                                   ASHAs                                 1147
                                                   Mothers                                505
Of which Number discharged under 48 hours of de... TOTAL                                    8

#### Deliveries at home

In [176]:
homeDeliveries

                                                                                     Apr-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    6
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    2
Total {(a) to (b)}                                 TOTAL                                    8
Number of newborns visited within 24 hours of H... TOTAL                                    8
Number of mothers paid JSY incentive for Home d... TOTAL                                    0
JSY Incentive paid to                              Mothers                                288
                                                   ASHAs                                  546
                                                   ANM or AWW (only for HPS States)         0

                                                                                     May-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    4
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    4
Total {(a) to (b)}                                 TOTAL                                    8
Number of newborns visited within 24 hours of H... TOTAL                                    8
Number of mothers paid JSY incentive for Home d... TOTAL                                    4
JSY Incentive paid to                              Mothers                                335
                                                   ASHAs                                  659
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Jun-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    2
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    2
Total {(a) to (b)}                                 TOTAL                                    4
Number of newborns visited within 24 hours of H... TOTAL                                    4
Number of mothers paid JSY incentive for Home d... TOTAL                                    2
JSY Incentive paid to                              Mothers                                365
                                                   ASHAs                                  581
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Jul-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                   15
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    6
Total {(a) to (b)}                                 TOTAL                                   21
Number of newborns visited within 24 hours of H... TOTAL                                   16
Number of mothers paid JSY incentive for Home d... TOTAL                                    2
JSY Incentive paid to                              Mothers                               1054
                                                   ASHAs                                  811
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Aug-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    6
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    4
Total {(a) to (b)}                                 TOTAL                                   10
Number of newborns visited within 24 hours of H... TOTAL                                   10
Number of mothers paid JSY incentive for Home d... TOTAL                                    6
JSY Incentive paid to                              Mothers                                446
                                                   ASHAs                                  936
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Sep-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    6
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                   10
Total {(a) to (b)}                                 TOTAL                                   16
Number of newborns visited within 24 hours of H... TOTAL                                   16
Number of mothers paid JSY incentive for Home d... TOTAL                                    4
JSY Incentive paid to                              Mothers                                535
                                                   ASHAs                                  882
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Oct-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                   16
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    8
Total {(a) to (b)}                                 TOTAL                                   24
Number of newborns visited within 24 hours of H... TOTAL                                   20
Number of mothers paid JSY incentive for Home d... TOTAL                                   10
JSY Incentive paid to                              Mothers                                476
                                                   ASHAs                                  977
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Nov-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    8
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    8
Total {(a) to (b)}                                 TOTAL                                   16
Number of newborns visited within 24 hours of H... TOTAL                                   16
Number of mothers paid JSY incentive for Home d... TOTAL                                    0
JSY Incentive paid to                              Mothers                                443
                                                   ASHAs                                  744
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Dec-2015  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    4
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    6
Total {(a) to (b)}                                 TOTAL                                   10
Number of newborns visited within 24 hours of H... TOTAL                                   10
Number of mothers paid JSY incentive for Home d... TOTAL                                   12
JSY Incentive paid to                              Mothers                                403
                                                   ASHAs                                  732
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Jan-2016  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    0
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    0
Total {(a) to (b)}                                 TOTAL                                    0
Number of newborns visited within 24 hours of H... TOTAL                                    0
Number of mothers paid JSY incentive for Home d... TOTAL                                    2
JSY Incentive paid to                              Mothers                                343
                                                   ASHAs                                  731
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Feb-2016  \
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    2
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    0
Total {(a) to (b)}                                 TOTAL                                    2
Number of newborns visited within 24 hours of H... TOTAL                                    2
Number of mothers paid JSY incentive for Home d... TOTAL                                    2
JSY Incentive paid to                              Mothers                                343
                                                   ASHAs                                  935
                                                   ANM or AWW (only for HPS States)         0

                                                                                     Mar-2016
SBA Trained (Doctor/Nurse/ANM)                     TOTAL                                    2
Non SBA (Trained TBA/Relatives/etc.)               TOTAL                                    2
Total {(a) to (b)}                                 TOTAL                                    4
Number of newborns visited within 24 hours of H... TOTAL                                    4
Number of mothers paid JSY incentive for Home d... TOTAL                                    0
JSY Incentive paid to                              Mothers                                505
                                                   ASHAs                                 1147
                                                   ANM or AWW (only for HPS States)         0

**Observations**

In [99]:
metrices[0].loc['Laboratory Testing'].apply(np.sum,axis=1)

HIV Tests      Female with ANC                      Number Positive        39
                                                    Number tested       29589
               Female-Non ANC                       Number Positive       103
                                                    Number tested       13751
               Male                                 Number Positive       183
                                                    Number tested       30041
               Total {(a) to (c)}                   Number Positive       325
                                                    Number tested       73381
Hb Tests       Number of Hb tests conducted         TOTAL              183930
               Of which number having Hb < 7 mg     TOTAL                4891
Malaria Tests  Blood smears examined                TOTAL              391898
               Plasmodium Falciparum test positive  TOTAL                  72
               Plasmodium Vivax test positive       TOTAL                 139
VRDL Tests     Female with ANC                      Number tested       11425
               Female-Non ANC                       Number tested        1738
               Male                                 Number tested        1851
               Total {(a) to (c)}                   Number tested       15014
Widal Tests    Widal tests conducted                Number tested        8628
dtype: int64

In [103]:
metrices[1].loc['Infant/Child Deaths','Infant Deaths up to 4 weeks by cause'].apply(np.sum,axis=1)

Asphyxia  Between 1 week & 4 weeks of birth    12
          Total                                50
          Up to 1 Weeks of Birth               38
LBW       Between 1 week & 4 weeks of birth     4
          Total                                33
          Up to 1 Weeks of Birth               29
Others    Between 1 week & 4 weeks of birth    16
          Total                                37
          Up to 1 Weeks of Birth               21
Sepsis    Between 1 week & 4 weeks of birth     2
          Total                                 6
          Up to 1 Weeks of Birth                4
dtype: int64

In [105]:
metrices[1].loc['Infant/Child Deaths','Infant/Child Deaths up to 5 years by cause'].apply(np.sum,axis=1)

Diarrhoea      Between 1 month and 11 months      0
               Between 1 year & 5 years           0
               Total                              0
Fever related  Between 1 month and 11 months      2
               Between 1 year & 5 years           0
               Total                              2
Measles        Between 1 month and 11 months      0
               Between 1 year & 5 years           0
               Total                              0
Others         Between 1 month and 11 months     95
               Between 1 year & 5 years         122
               Total                            217
Pneumonia      Between 1 month and 11 months      0
               Between 1 year & 5 years           2
               Total                              2
dtype: int64

In [108]:
metrices[1].loc['Adults Deaths','Adolescent/Adult deaths by cause'].apply(np.sum,axis=1)

Causes not known                                           15-55 yrs.        227
                                                           6-14 yrs           54
                                                           Above 55 yrs.    1383
                                                           Total            1664
Diarrhoeal diseases                                        15-55 yrs.          2
                                                           6-14 yrs            0
                                                           Above 55 yrs.      26
                                                           Total              28
HIV/AIDS                                                   15-55 yrs.         42
                                                           6-14 yrs            5
                                                           Above 55 yrs.      24
                                                           Total              71
Heart disease/Hypertension related                         15-55 yrs.        507
                                                           6-14 yrs            6
                                                           Above 55 yrs.    1669
                                                           Total            2182
Known Acute Disease                                        15-55 yrs.        229
                                                           6-14 yrs            8
                                                           Above 55 yrs.     568
                                                           Total             805
Known Chronic Disease                                      15-55 yrs.        568
                                                           6-14 yrs           31
                                                           Above 55 yrs.    1980
                                                           Total            2579
Malaria                                                    15-55 yrs.          0
                                                           6-14 yrs            0
                                                           Above 55 yrs.       0
                                                           Total               0
Neurological disease including strokes                     15-55 yrs.        164
                                                           6-14 yrs           16
                                                           Above 55 yrs.    1209
                                                           Total            1389
Other Fever Related                                        15-55 yrs.         16
                                                           6-14 yrs            1
                                                           Above 55 yrs.      22
                                                           Total              39
Respiratory diseases including infections (other than TB)  15-55 yrs.        270
                                                           6-14 yrs           10
                                                           Above 55 yrs.    1826
                                                           Total            2106
Tuberculosis                                               15-55 yrs.        108
                                                           6-14 yrs            4
                                                           Above 55 yrs.      34
                                                           Total             146
dtype: int64

In [113]:
metrices[1].loc['Adults Deaths','Maternal Deaths'].apply(np.sum,axis=1)

Abortion                                   15-55 yrs.         2
                                           Total              2
Animal bites and stings                    15-55 yrs.         4
                                           6-14 yrs           2
                                           Above 55 yrs.      3
                                           Total              9
Bleeding                                   15-55 yrs.         0
                                           Total              0
High fever                                 15-55 yrs.         0
                                           Total              0
Obstructed/prolonged labour                15-55 yrs.         2
                                           Total              2
Other Causes (including causes not known)  15-55 yrs.        10
                                           Total             10
Severe hypertesnion/fits                   15-55 yrs.         0
                                           Total              0
Suicide                                    15-55 yrs.       376
                                           6-14 yrs           8
                                           Above 55 yrs.    141
                                           Total            525
Trauma/Accidents/Burn cases                15-55 yrs.       492
                                           6-14 yrs          26
                                           Above 55 yrs.    255
                                           Total            773
dtype: int64

In [116]:
metrices[2]

                                                                                              Apr-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        42
                                    Number of Patients operated for cataract           TOTAL        42
                                    Number of School children detected with Refract... TOTAL       136
                                    Number of children provided free glasses           TOTAL      1539
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              May-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        10
                                    Number of Patients operated for cataract           TOTAL        10
                                    Number of School children detected with Refract... TOTAL         0
                                    Number of children provided free glasses           TOTAL        46
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Jun-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        31
                                    Number of Patients operated for cataract           TOTAL        32
                                    Number of School children detected with Refract... TOTAL         0
                                    Number of children provided free glasses           TOTAL        63
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Jul-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        44
                                    Number of Patients operated for cataract           TOTAL        46
                                    Number of School children detected with Refract... TOTAL       170
                                    Number of children provided free glasses           TOTAL        30
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Aug-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        46
                                    Number of Patients operated for cataract           TOTAL        46
                                    Number of School children detected with Refract... TOTAL       305
                                    Number of children provided free glasses           TOTAL         0
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Sep-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        63
                                    Number of Patients operated for cataract           TOTAL        64
                                    Number of School children detected with Refract... TOTAL       576
                                    Number of children provided free glasses           TOTAL         0
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Oct-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        58
                                    Number of Patients operated for cataract           TOTAL        59
                                    Number of School children detected with Refract... TOTAL       377
                                    Number of children provided free glasses           TOTAL         0
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Nov-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL         0
                                    Number of Patients operated for cataract           TOTAL         0
                                    Number of School children detected with Refract... TOTAL       377
                                    Number of children provided free glasses           TOTAL        23
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Dec-2015  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL         0
                                    Number of Patients operated for cataract           TOTAL         0
                                    Number of School children detected with Refract... TOTAL       633
                                    Number of children provided free glasses           TOTAL         0
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Jan-2016  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        34
                                    Number of Patients operated for cataract           TOTAL        34
                                    Number of School children detected with Refract... TOTAL       104
                                    Number of children provided free glasses           TOTAL       147
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Feb-2016  \
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL        24
                                    Number of Patients operated for cataract           TOTAL        24
                                    Number of School children detected with Refract... TOTAL       160
                                    Number of children provided free glasses           TOTAL         0
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

                                                                                              Mar-2016
Blindness Control Programme Details Number of Intraocular Lens(IOL) implantations      TOTAL         0
                                    Number of Patients operated for cataract           TOTAL         0
                                    Number of School children detected with Refract... TOTAL        15
                                    Number of children provided free glasses           TOTAL      1044
                                    Number of eyes collected                           TOTAL         0
                                    Number of eyes utilised                            TOTAL         0

In [120]:
metrices[3].loc['C-Sections performed at']

                                                                      Apr-2015  \
Private Institutions Private facilities                        TOTAL        75
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         5
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         1
                     Total {(3.1.1) to (3.1.4)}                TOTAL         6

                                                                      May-2015  \
Private Institutions Private facilities                        TOTAL        81
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         4
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         2
                     Total {(3.1.1) to (3.1.4)}                TOTAL         6

                                                                      Jun-2015  \
Private Institutions Private facilities                        TOTAL       104
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         3
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         1
                     Total {(3.1.1) to (3.1.4)}                TOTAL         4

                                                                      Jul-2015  \
Private Institutions Private facilities                        TOTAL        61
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         5
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         6
                     Total {(3.1.1) to (3.1.4)}                TOTAL        11

                                                                      Aug-2015  \
Private Institutions Private facilities                        TOTAL        91
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         5
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         0
                     Total {(3.1.1) to (3.1.4)}                TOTAL         5

                                                                      Sep-2015  \
Private Institutions Private facilities                        TOTAL       106
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         6
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         0
                     Total {(3.1.1) to (3.1.4)}                TOTAL         6

                                                                      Oct-2015  \
Private Institutions Private facilities                        TOTAL       116
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         5
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         2
                     Total {(3.1.1) to (3.1.4)}                TOTAL         7

                                                                      Nov-2015  \
Private Institutions Private facilities                        TOTAL        89
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         2
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         3
                     Total {(3.1.1) to (3.1.4)}                TOTAL         5

                                                                      Dec-2015  \
Private Institutions Private facilities                        TOTAL        76
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         3
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         2
                     Total {(3.1.1) to (3.1.4)}                TOTAL         5

                                                                      Jan-2016  \
Private Institutions Private facilities                        TOTAL       101
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         2
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         3
                     Total {(3.1.1) to (3.1.4)}                TOTAL         5

                                                                      Feb-2016  \
Private Institutions Private facilities                        TOTAL        67
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         5
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         2
                     Total {(3.1.1) to (3.1.4)}                TOTAL         7

                                                                      Mar-2016
Private Institutions Private facilities                        TOTAL        95
Public Institutions  At Other State Owned Public Institutions  TOTAL         0
                     CHC                                       TOTAL         3
                     PHC                                       TOTAL         0
                     Sub-divisional hospital/District Hospital TOTAL         4
                     Total {(3.1.1) to (3.1.4)}                TOTAL         7

In [123]:
metrices[3].loc['Medical Termination of Pregnancy (MTP)']

                                                                           Apr-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        29
Public Institutions  More than 12 weeks of pregnancy                TOTAL         0
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        60
                     Up to 12 weeks of pregnancy                    TOTAL        60

                                                                           May-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        17
Public Institutions  More than 12 weeks of pregnancy                TOTAL         0
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        38
                     Up to 12 weeks of pregnancy                    TOTAL        38

                                                                           Jun-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        48
Public Institutions  More than 12 weeks of pregnancy                TOTAL         0
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        41
                     Up to 12 weeks of pregnancy                    TOTAL        41

                                                                           Jul-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        39
Public Institutions  More than 12 weeks of pregnancy                TOTAL         0
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        51
                     Up to 12 weeks of pregnancy                    TOTAL        51

                                                                           Aug-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        34
Public Institutions  More than 12 weeks of pregnancy                TOTAL         0
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        37
                     Up to 12 weeks of pregnancy                    TOTAL        37

                                                                           Sep-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        17
Public Institutions  More than 12 weeks of pregnancy                TOTAL         0
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        48
                     Up to 12 weeks of pregnancy                    TOTAL        48

                                                                           Oct-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        27
Public Institutions  More than 12 weeks of pregnancy                TOTAL         1
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        49
                     Up to 12 weeks of pregnancy                    TOTAL        48

                                                                           Nov-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        25
Public Institutions  More than 12 weeks of pregnancy                TOTAL         1
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        39
                     Up to 12 weeks of pregnancy                    TOTAL        38

                                                                           Dec-2015  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        25
Public Institutions  More than 12 weeks of pregnancy                TOTAL         2
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        53
                     Up to 12 weeks of pregnancy                    TOTAL        51

                                                                           Jan-2016  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL       101
Public Institutions  More than 12 weeks of pregnancy                TOTAL         1
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        61
                     Up to 12 weeks of pregnancy                    TOTAL        60

                                                                           Feb-2016  \
Private Institutions Number of MTPs conducted at Private Facilities TOTAL       111
Public Institutions  More than 12 weeks of pregnancy                TOTAL         3
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        45
                     Up to 12 weeks of pregnancy                    TOTAL        42

                                                                           Mar-2016
Private Institutions Number of MTPs conducted at Private Facilities TOTAL        48
Public Institutions  More than 12 weeks of pregnancy                TOTAL         0
                     Total {(7.1.1) to (7.1.2)}                     TOTAL        66
                     Up to 12 weeks of pregnancy                    TOTAL        66

In [125]:
metrices[3].loc['Complicated Pregnancies']

                                                                               Apr-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        54
Public Institutions  At CHCs                                            TOTAL        48
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        19
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         3
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        70
Treatement           Blood Transfusion                                  TOTAL         0
                     IV Oxytocis                                        TOTAL        30
                     IV antibiotics                                     TOTAL        45
                     IV antihypertensive/Magsulph injection             TOTAL        23

                                                                               May-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        72
Public Institutions  At CHCs                                            TOTAL        43
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        17
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         3
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        63
Treatement           Blood Transfusion                                  TOTAL         0
                     IV Oxytocis                                        TOTAL        39
                     IV antibiotics                                     TOTAL        26
                     IV antihypertensive/Magsulph injection             TOTAL         0

                                                                               Jun-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        72
Public Institutions  At CHCs                                            TOTAL        31
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        10
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         5
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        46
Treatement           Blood Transfusion                                  TOTAL         0
                     IV Oxytocis                                        TOTAL        20
                     IV antibiotics                                     TOTAL        12
                     IV antihypertensive/Magsulph injection             TOTAL         0

                                                                               Jul-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        62
Public Institutions  At CHCs                                            TOTAL        48
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        18
                     At Sub-divisional hospitals/ District Hospitals    TOTAL        11
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        77
Treatement           Blood Transfusion                                  TOTAL         3
                     IV Oxytocis                                        TOTAL        39
                     IV antibiotics                                     TOTAL        34
                     IV antihypertensive/Magsulph injection             TOTAL         2

                                                                               Aug-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        76
Public Institutions  At CHCs                                            TOTAL        44
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        12
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         3
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        59
Treatement           Blood Transfusion                                  TOTAL         3
                     IV Oxytocis                                        TOTAL        36
                     IV antibiotics                                     TOTAL        31
                     IV antihypertensive/Magsulph injection             TOTAL        18

                                                                               Sep-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        80
Public Institutions  At CHCs                                            TOTAL        53
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL         7
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         5
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        65
Treatement           Blood Transfusion                                  TOTAL         3
                     IV Oxytocis                                        TOTAL        41
                     IV antibiotics                                     TOTAL        38
                     IV antihypertensive/Magsulph injection             TOTAL         1

                                                                               Oct-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        54
Public Institutions  At CHCs                                            TOTAL        51
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        17
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         5
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        73
Treatement           Blood Transfusion                                  TOTAL         1
                     IV Oxytocis                                        TOTAL        42
                     IV antibiotics                                     TOTAL        28
                     IV antihypertensive/Magsulph injection             TOTAL         2

                                                                               Nov-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        65
Public Institutions  At CHCs                                            TOTAL        24
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        33
                     At Sub-divisional hospitals/ District Hospitals    TOTAL        28
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        85
Treatement           Blood Transfusion                                  TOTAL         0
                     IV Oxytocis                                        TOTAL        36
                     IV antibiotics                                     TOTAL        35
                     IV antihypertensive/Magsulph injection             TOTAL         2

                                                                               Dec-2015  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        76
Public Institutions  At CHCs                                            TOTAL        39
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        11
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         8
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        58
Treatement           Blood Transfusion                                  TOTAL         6
                     IV Oxytocis                                        TOTAL        31
                     IV antibiotics                                     TOTAL        28
                     IV antihypertensive/Magsulph injection             TOTAL         0

                                                                               Jan-2016  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        67
Public Institutions  At CHCs                                            TOTAL        28
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        13
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         9
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        50
Treatement           Blood Transfusion                                  TOTAL         5
                     IV Oxytocis                                        TOTAL        27
                     IV antibiotics                                     TOTAL        20
                     IV antihypertensive/Magsulph injection             TOTAL         2

                                                                               Feb-2016  \
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        66
Public Institutions  At CHCs                                            TOTAL        41
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL        17
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         2
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        60
Treatement           Blood Transfusion                                  TOTAL         0
                     IV Oxytocis                                        TOTAL        38
                     IV antibiotics                                     TOTAL        22
                     IV antihypertensive/Magsulph injection             TOTAL         2

                                                                               Mar-2016
Private Institutions Number of cases of pregnant women with Obstetri... TOTAL        55
Public Institutions  At CHCs                                            TOTAL        51
                     At Other State Owned Public Institutions           TOTAL         0
                     At PHCs                                            TOTAL         6
                     At Sub-divisional hospitals/ District Hospitals    TOTAL         4
                     Total {(5.1.1) to (5.1.4)}                         TOTAL        61
Treatement           Blood Transfusion                                  TOTAL         0
                     IV Oxytocis                                        TOTAL        43
                     IV antibiotics                                     TOTAL        33
                     IV antihypertensive/Magsulph injection             TOTAL         1

In [126]:

metrices[3].loc['RTI/STI Cases']

                                                                                              Apr-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       360
                                                   Male                                TOTAL       149
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       509

                                                                                              May-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       328
                                                   Male                                TOTAL       116
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       444

                                                                                              Jun-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       467
                                                   Male                                TOTAL       107
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       574

                                                                                              Jul-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       461
                                                   Male                                TOTAL       258
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       719

                                                                                              Aug-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       445
                                                   Male                                TOTAL        66
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       511

                                                                                              Sep-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       352
                                                   Male                                TOTAL       125
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       477

                                                                                              Oct-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       310
                                                   Male                                TOTAL       108
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       418

                                                                                              Nov-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       292
                                                   Male                                TOTAL       114
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       406

                                                                                              Dec-2015  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       338
                                                   Male                                TOTAL        82
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       420

                                                                                              Jan-2016  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       280
                                                   Male                                TOTAL       101
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       381

                                                                                              Feb-2016  \
Number of new RTI/STI for which treatment initi... Female                              TOTAL       453
                                                   Male                                TOTAL       226
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       679

                                                                                              Mar-2016
Number of new RTI/STI for which treatment initi... Female                              TOTAL       375
                                                   Male                                TOTAL       226
                                                   Number of wet mount tests conducted TOTAL         0
                                                   Total {(a) to (b)}                  TOTAL       601

In [127]:

metrices[3].loc['Pregnancy outcome and New-born details']

                                                                                             Apr-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1430
                                    Number of Newborns having weight less than 2.5 kg TOTAL       232
                                    Number of Newborns weighed at birth               TOTAL      1426
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       103
                                    Female                                            TOTAL       716
                                    Male                                              TOTAL       723
                                    Still Birth                                       TOTAL        14
                                    Total ({a} + {b})                                 TOTAL      1439

                                                                                             May-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1481
                                    Number of Newborns having weight less than 2.5 kg TOTAL       245
                                    Number of Newborns weighed at birth               TOTAL      1471
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL        76
                                    Female                                            TOTAL       700
                                    Male                                              TOTAL       783
                                    Still Birth                                       TOTAL        15
                                    Total ({a} + {b})                                 TOTAL      1483

                                                                                             Jun-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1474
                                    Number of Newborns having weight less than 2.5 kg TOTAL       165
                                    Number of Newborns weighed at birth               TOTAL      1476
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       110
                                    Female                                            TOTAL       722
                                    Male                                              TOTAL       764
                                    Still Birth                                       TOTAL        27
                                    Total ({a} + {b})                                 TOTAL      1486

                                                                                             Jul-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1548
                                    Number of Newborns having weight less than 2.5 kg TOTAL       148
                                    Number of Newborns weighed at birth               TOTAL      1528
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       125
                                    Female                                            TOTAL       762
                                    Male                                              TOTAL       850
                                    Still Birth                                       TOTAL        16
                                    Total ({a} + {b})                                 TOTAL      1612

                                                                                             Aug-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1769
                                    Number of Newborns having weight less than 2.5 kg TOTAL       173
                                    Number of Newborns weighed at birth               TOTAL      1756
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       100
                                    Female                                            TOTAL       873
                                    Male                                              TOTAL       915
                                    Still Birth                                       TOTAL        29
                                    Total ({a} + {b})                                 TOTAL      1788

                                                                                             Sep-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1991
                                    Number of Newborns having weight less than 2.5 kg TOTAL       238
                                    Number of Newborns weighed at birth               TOTAL      1996
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL        99
                                    Female                                            TOTAL      1009
                                    Male                                              TOTAL      1011
                                    Still Birth                                       TOTAL        20
                                    Total ({a} + {b})                                 TOTAL      2020

                                                                                             Oct-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      2029
                                    Number of Newborns having weight less than 2.5 kg TOTAL       385
                                    Number of Newborns weighed at birth               TOTAL      2038
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       109
                                    Female                                            TOTAL      1001
                                    Male                                              TOTAL      1067
                                    Still Birth                                       TOTAL         9
                                    Total ({a} + {b})                                 TOTAL      2068

                                                                                             Nov-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1745
                                    Number of Newborns having weight less than 2.5 kg TOTAL       251
                                    Number of Newborns weighed at birth               TOTAL      1728
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       116
                                    Female                                            TOTAL       860
                                    Male                                              TOTAL       903
                                    Still Birth                                       TOTAL        10
                                    Total ({a} + {b})                                 TOTAL      1763

                                                                                             Dec-2015  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1696
                                    Number of Newborns having weight less than 2.5 kg TOTAL       309
                                    Number of Newborns weighed at birth               TOTAL      1700
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       108
                                    Female                                            TOTAL       839
                                    Male                                              TOTAL       871
                                    Still Birth                                       TOTAL        23
                                    Total ({a} + {b})                                 TOTAL      1710

                                                                                             Jan-2016  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1484
                                    Number of Newborns having weight less than 2.5 kg TOTAL       237
                                    Number of Newborns weighed at birth               TOTAL      1492
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       198
                                    Female                                            TOTAL       729
                                    Male                                              TOTAL       779
                                    Still Birth                                       TOTAL        27
                                    Total ({a} + {b})                                 TOTAL      1508

                                                                                             Feb-2016  \
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1417
                                    Number of Newborns having weight less than 2.5 kg TOTAL       336
                                    Number of Newborns weighed at birth               TOTAL      1414
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       221
                                    Female                                            TOTAL       693
                                    Male                                              TOTAL       727
                                    Still Birth                                       TOTAL         7
                                    Total ({a} + {b})                                 TOTAL      1420

                                                                                             Mar-2016
Details of Newborn children weighed Number of Newborns breast fed within 1 hour       TOTAL      1530
                                    Number of Newborns having weight less than 2.5 kg TOTAL       116
                                    Number of Newborns weighed at birth               TOTAL      1530
Pregnancy Outcome                   Abortion (spontaneous/induced)                    TOTAL       169
                                    Female                                            TOTAL       712
                                    Male                                              TOTAL       826
                                    Still Birth                                       TOTAL         3
                                    Total ({a} + {b})                                 TOTAL      1538

In [37]:
# Load Dataset
df = pd.read_excel('~/Workspace/SocialCops/NRHM/Maharashtra/Nagpur/2015-16/Scripts/Preprocessing/Output/Cleaned/BHIWAPUR/BHIWAPUR Block - Consolidated.xlsx',index_col=range(5))

In [38]:
df.head()

                                                                                                    Apr-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       183
                                          Of which Number registered within first trimester  TOTAL       150
                                          New women registered under JSY                     TOTAL        97
                                          Number of pregnant women received 3 ANC check ups  TOTAL       215
                                          Number of pregnancy kits used at Sub-centre        TOTAL       170

                                                                                                    May-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       184
                                          Of which Number registered within first trimester  TOTAL       145
                                          New women registered under JSY                     TOTAL        89
                                          Number of pregnant women received 3 ANC check ups  TOTAL       216
                                          Number of pregnancy kits used at Sub-centre        TOTAL       166

                                                                                                    Jun-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       146
                                          Of which Number registered within first trimester  TOTAL       130
                                          New women registered under JSY                     TOTAL        73
                                          Number of pregnant women received 3 ANC check ups  TOTAL       180
                                          Number of pregnancy kits used at Sub-centre        TOTAL       132

                                                                                                    Jul-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       184
                                          Of which Number registered within first trimester  TOTAL       151
                                          New women registered under JSY                     TOTAL        90
                                          Number of pregnant women received 3 ANC check ups  TOTAL       207
                                          Number of pregnancy kits used at Sub-centre        TOTAL       158

                                                                                                    Aug-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       224
                                          Of which Number registered within first trimester  TOTAL       183
                                          New women registered under JSY                     TOTAL       122
                                          Number of pregnant women received 3 ANC check ups  TOTAL       156
                                          Number of pregnancy kits used at Sub-centre        TOTAL       174

                                                                                                    Sep-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       197
                                          Of which Number registered within first trimester  TOTAL       163
                                          New women registered under JSY                     TOTAL        90
                                          Number of pregnant women received 3 ANC check ups  TOTAL       186
                                          Number of pregnancy kits used at Sub-centre        TOTAL       130

                                                                                                    Oct-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       237
                                          Of which Number registered within first trimester  TOTAL       216
                                          New women registered under JSY                     TOTAL       109
                                          Number of pregnant women received 3 ANC check ups  TOTAL       231
                                          Number of pregnancy kits used at Sub-centre        TOTAL       140

                                                                                                    Nov-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       132
                                          Of which Number registered within first trimester  TOTAL       109
                                          New women registered under JSY                     TOTAL        64
                                          Number of pregnant women received 3 ANC check ups  TOTAL       194
                                          Number of pregnancy kits used at Sub-centre        TOTAL        90

                                                                                                    Dec-2015  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       207
                                          Of which Number registered within first trimester  TOTAL       177
                                          New women registered under JSY                     TOTAL       119
                                          Number of pregnant women received 3 ANC check ups  TOTAL       231
                                          Number of pregnancy kits used at Sub-centre        TOTAL       156

                                                                                                    Jan-2016  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       195
                                          Of which Number registered within first trimester  TOTAL       142
                                          New women registered under JSY                     TOTAL        89
                                          Number of pregnant women received 3 ANC check ups  TOTAL       144
                                          Number of pregnancy kits used at Sub-centre        TOTAL       150

                                                                                                    Feb-2016  \
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       188
                                          Of which Number registered within first trimester  TOTAL       154
                                          New women registered under JSY                     TOTAL       108
                                          Number of pregnant women received 3 ANC check ups  TOTAL       216
                                          Number of pregnancy kits used at Sub-centre        TOTAL       122

                                                                                                    Mar-2016
Reproductive and Child Health ANC General Total number of pregnant women Registered for A... TOTAL       156
                                          Of which Number registered within first trimester  TOTAL       127
                                          New women registered under JSY                     TOTAL        84
                                          Number of pregnant women received 3 ANC check ups  TOTAL       196
                                          Number of pregnancy kits used at Sub-centre        TOTAL        84

In [39]:
df = df.sort_index(level=0)

In [40]:
df.index.levels[0]

Index([u'Health Facility Services', u'Mortality Details', u'Other Programmes',
       u'Reproductive and Child Health'],
      dtype='object')

In [41]:
df.loc['Mortality Details','Adults Deaths','Maternal Deaths'].apply(np.sum,axis=1)

Abortion                                   15-55 yrs.        0
                                           Total             0
Animal bites and stings                    15-55 yrs.        0
                                           6-14 yrs          0
                                           Above 55 yrs.     0
                                           Total             0
Bleeding                                   15-55 yrs.        0
                                           Total             0
High fever                                 15-55 yrs.        0
                                           Total             0
Obstructed/prolonged labour                15-55 yrs.        0
                                           Total             0
Other Causes (including causes not known)  15-55 yrs.        0
                                           Total             0
Severe hypertesnion/fits                   15-55 yrs.        0
                                           Total             0
Suicide                                    15-55 yrs.       25
                                           6-14 yrs          0
                                           Above 55 yrs.     4
                                           Total            29
Trauma/Accidents/Burn cases                15-55 yrs.       36
                                           6-14 yrs          2
                                           Above 55 yrs.    12
                                           Total            50
dtype: int64

In [42]:
df2 = pd.read_excel('~/Workspace/SocialCops/NRHM/Maharashtra/Nagpur/2015-16/Scripts/Preprocessing/Output/Cleaned/Nagpur - Consolidated.xlsx',index_col=range(5))

In [43]:
df2 = df2.sort_index(level=0)

In [44]:
df2.loc['Mortality Details','Adults Deaths','Maternal Deaths'].apply(np.sum,axis=1)

Abortion                                   15-55 yrs.         2
                                           Total              2
Animal bites and stings                    15-55 yrs.         4
                                           6-14 yrs           2
                                           Above 55 yrs.      3
                                           Total              9
Bleeding                                   15-55 yrs.         0
                                           Total              0
High fever                                 15-55 yrs.         0
                                           Total              0
Obstructed/prolonged labour                15-55 yrs.         2
                                           Total              2
Other Causes (including causes not known)  15-55 yrs.        10
                                           Total             10
Severe hypertesnion/fits                   15-55 yrs.         0
                                           Total              0
Suicide                                    15-55 yrs.       376
                                           6-14 yrs           8
                                           Above 55 yrs.    141
                                           Total            525
Trauma/Accidents/Burn cases                15-55 yrs.       492
                                           6-14 yrs          26
                                           Above 55 yrs.    255
                                           Total            773
dtype: int64

In [45]:
y = (df2.loc['Reproductive and Child Health','ANC','General']).T[:12]
y

,New women registered under JSY,Number of pregnancy kits used at Sub-centre,Number of pregnant women received 3 ANC check ups,Of which Number registered within first trimester,Total number of pregnant women Registered for ANC
,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL
Apr-2015,2049,1778,4691,3989,5079
May-2015,1830,1778,4956,3442,4511
Jun-2015,2110,2036,4784,3810,5152
Jul-2015,2077,2226,4612,3986,5431
Aug-2015,2071,2146,5091,3921,5297
Sep-2015,1749,1930,5292,3469,4445
Oct-2015,1826,1964,5115,3837,4939
Nov-2015,1520,1658,4244,2934,3750
Dec-2015,2195,2314,4851,4033,5315
Jan-2016,1938,2050,4129,3860,4869
Feb-2016,2020,1792,5216,4041,4953
Mar-2016,1898,1718,4907,4124,5204

In [46]:
y.columns = ['Pregnant women registered for ANC','Number registered within first trimester','New women registered under JSY','Number of pregnant women received 3 ANC check ups','Number of pregnancy kits used at Sub-centre']

In [47]:
from bokeh.charts import Line
b = Line(y, notebook=True)
show(b)

## Mortality

In [275]:
mortality = nagpurData.loc['Mortality Details']

infants = mortality.loc['Infant/Child Deaths','Within 24 hours']
children = mortality.loc['Infant/Child Deaths','Infant/Child Deaths up to 5 years by cause']
adults = mortality.loc['Adults Deaths','Adolescent/Adult deaths by cause']
maternal = mortality.loc['Adults Deaths','Maternal Deaths']

In [265]:
infants

,,Apr-2015,May-2015,Jun-2015,Jul-2015,Aug-2015,Sep-2015,Oct-2015,Nov-2015,Dec-2015,Jan-2016,Feb-2016,Mar-2016
Infant deaths within 24 hrs of birth,TOTAL,0,0,0,0,0,0,0,0,0,0,0,0

In [268]:
childrenDF = children.ix[[('Diarrhoea','Total'),('Fever related','Total'),('Measles','Total'),('Others','Total'),('Pneumonia','Total')]]

In [270]:
childrenDF['Total']=childrenDF.apply(np.sum,axis=1)
childrenDF.sort_values(['Total'],ascending=[False])

,,Apr-2015,May-2015,Jun-2015,Jul-2015,Aug-2015,Sep-2015,Oct-2015,Nov-2015,Dec-2015,Jan-2016,Feb-2016,Mar-2016,Total
Others,Total,26,26,12,27,22,15,14,14,14,5,14,28,434
Fever related,Total,0,0,0,0,0,0,0,0,0,0,2,0,4
Pneumonia,Total,0,1,0,0,0,0,1,0,0,0,0,0,4
Diarrhoea,Total,0,0,0,0,0,0,0,0,0,0,0,0,0
Measles,Total,0,0,0,0,0,0,0,0,0,0,0,0,0

In [262]:

#adults['Total'] = adults.apply(np.sum,axis=1)

In [264]:
adults.sort_values(['Total'], ascending=[False])

                                                                  Apr-2015  \
Known Chronic Disease                              Total               209
Heart disease/Hypertension related                 Total               140
Respiratory diseases including infections (othe... Total               104
Known Chronic Disease                              Above 55 yrs.       158
Respiratory diseases including infections (othe... Above 55 yrs.        91
Heart disease/Hypertension related                 Above 55 yrs.        99
Causes not known                                   Total               126
Neurological disease including strokes             Total                86
Causes not known                                   Above 55 yrs.       101
Neurological disease including strokes             Above 55 yrs.        68
Known Acute Disease                                Total                44
Known Chronic Disease                              15-55 yrs.           51
Known Acute Disease                                Above 55 yrs.        30
Heart disease/Hypertension related                 15-55 yrs.           41
Respiratory diseases including infections (othe... 15-55 yrs.           11
Known Acute Disease                                15-55 yrs.           12
Causes not known                                   15-55 yrs.           17
Neurological disease including strokes             15-55 yrs.           18
Tuberculosis                                       Total                 6
                                                   15-55 yrs.            6
HIV/AIDS                                           Total                 4
Causes not known                                   6-14 yrs              8
HIV/AIDS                                           15-55 yrs.            2
Other Fever Related                                Total                 0
Tuberculosis                                       Above 55 yrs.         0
Known Chronic Disease                              6-14 yrs              0
Diarrhoeal diseases                                Total                 0
                                                   Above 55 yrs.         0
HIV/AIDS                                           Above 55 yrs.         0
Other Fever Related                                Above 55 yrs.         0
Neurological disease including strokes             6-14 yrs              0
Other Fever Related                                15-55 yrs.            0
Respiratory diseases including infections (othe... 6-14 yrs              2
Known Acute Disease                                6-14 yrs              2
Heart disease/Hypertension related                 6-14 yrs              0
HIV/AIDS                                           6-14 yrs              2
Tuberculosis                                       6-14 yrs              0
Diarrhoeal diseases                                15-55 yrs.            0
Other Fever Related                                6-14 yrs              0
Malaria                                            15-55 yrs.            0
                                                   Total                 0
Diarrhoeal diseases                                6-14 yrs              0
Malaria                                            Above 55 yrs.         0
                                                   6-14 yrs              0

                                                                  May-2015  \
Known Chronic Disease                              Total               179
Heart disease/Hypertension related                 Total               168
Respiratory diseases including infections (othe... Total               179
Known Chronic Disease                              Above 55 yrs.       131
Respiratory diseases including infections (othe... Above 55 yrs.       167
Heart disease/Hypertension related                 Above 55 yrs.       133
Causes not known                                   Total               150
Neurological disease including strokes             Total               112
Causes not known                                   Above 55 yrs.       132
Neurological disease including strokes             Above 55 yrs.        92
Known Acute Disease                                Total                52
Known Chronic Disease                              15-55 yrs.           45
Known Acute Disease                                Above 55 yrs.        36
Heart disease/Hypertension related                 15-55 yrs.           35
Respiratory diseases including infections (othe... 15-55 yrs.           10
Known Acute Disease                                15-55 yrs.           16
Causes not known                                   15-55 yrs.           18
Neurological disease including strokes             15-55 yrs.           20
Tuberculosis                                       Total                16
                                                   15-55 yrs.           14
HIV/AIDS                                           Total                10
Causes not known                                   6-14 yrs              0
HIV/AIDS                                           15-55 yrs.           10
Other Fever Related                                Total                 2
Tuberculosis                                       Above 55 yrs.         2
Known Chronic Disease                              6-14 yrs              3
Diarrhoeal diseases                                Total                 6
                                                   Above 55 yrs.         6
HIV/AIDS                                           Above 55 yrs.         0
Other Fever Related                                Above 55 yrs.         2
Neurological disease including strokes             6-14 yrs              0
Other Fever Related                                15-55 yrs.            0
Respiratory diseases including infections (othe... 6-14 yrs              2
Known Acute Disease                                6-14 yrs              0
Heart disease/Hypertension related                 6-14 yrs              0
HIV/AIDS                                           6-14 yrs              0
Tuberculosis                                       6-14 yrs              0
Diarrhoeal diseases                                15-55 yrs.            0
Other Fever Related                                6-14 yrs              0
Malaria                                            15-55 yrs.            0
                                                   Total                 0
Diarrhoeal diseases                                6-14 yrs              0
Malaria                                            Above 55 yrs.         0
                                                   6-14 yrs              0

                                                                  Jun-2015  \
Known Chronic Disease                              Total               188
Heart disease/Hypertension related                 Total               169
Respiratory diseases including infections (othe... Total               143
Known Chronic Disease                              Above 55 yrs.       149
Respiratory diseases including infections (othe... Above 55 yrs.       127
Heart disease/Hypertension related                 Above 55 yrs.       131
Causes not known                                   Total               105
Neurological disease including strokes             Total               116
Causes not known                                   Above 55 yrs.        87
Neurological disease including strokes             Above 55 yrs.        83
Known Acute Disease                                Total                36
Known Chronic Disease                              15-55 yrs.           39
Known Acute Disease                                Above 55 yrs.        26
Heart disease/Hypertension related                 15-55 yrs.           36
Respiratory diseases including infections (othe... 15-55 yrs.           16
Known Acute Disease                                15-55 yrs.           10
Causes not known                                   15-55 yrs.            6
Neurological disease including strokes             15-55 yrs.           31
Tuberculosis                                       Total                10
                                                   15-55 yrs.            4
HIV/AIDS                                           Total                 6
Causes not known                                   6-14 yrs             12
HIV/AIDS                                           15-55 yrs.            0
Other Fever Related                                Total                 2
Tuberculosis                                       Above 55 yrs.         4
Known Chronic Disease                              6-14 yrs              0
Diarrhoeal diseases                                Total                 0
                                                   Above 55 yrs.         0
HIV/AIDS                                           Above 55 yrs.         6
Other Fever Related                                Above 55 yrs.         0
Neurological disease including strokes             6-14 yrs              2
Other Fever Related                                15-55 yrs.            2
Respiratory diseases including infections (othe... 6-14 yrs              0
Known Acute Disease                                6-14 yrs              0
Heart disease/Hypertension related                 6-14 yrs              2
HIV/AIDS                                           6-14 yrs              0
Tuberculosis                                       6-14 yrs              2
Diarrhoeal diseases                                15-55 yrs.            0
Other Fever Related                                6-14 yrs              0
Malaria                                            15-55 yrs.            0
                                                   Total                 0
Diarrhoeal diseases                                6-14 yrs              0
Malaria                                            Above 55 yrs.         0
                                                   6-14 yrs              0

                                                                  Jul-2015  \
Known Chronic Disease                              Total               248
Heart disease/Hypertension related                 Total               171
Respiratory diseases including infections (othe... Total               134
Known Chronic Disease                              Above 55 yrs.       187
Respiratory diseases including infections (othe... Above 55 yrs.       124
Heart disease/Hypertension related                 Above 55 yrs.       136
Causes not known                                   Total               170
Neurological disease including strokes             Total               114
Causes not known                                   Above 55 yrs.       134
Neurological disease including strokes             Above 55 yrs.       102
Known Acute Disease                                Total                54
Known Chronic Disease                              15-55 yrs.           57
Known Acute Disease                                Above 55 yrs.        40
Heart disease/Hypertension related                 15-55 yrs.           33
Respiratory diseases including infections (othe... 15-55 yrs.           10
Known Acute Disease                                15-55 yrs.           12
Causes not known                                   15-55 yrs.           30
Neurological disease including strokes             15-55 yrs.           12
Tuberculosis                                       Total                 6
                                                   15-55 yrs.            6
HIV/AIDS                                           Total                 4
Causes not known                                   6-14 yrs              6
HIV/AIDS                                           15-55 yrs.            0
Other Fever Related                                Total                 6
Tuberculosis                                       Above 55 yrs.         0
Known Chronic Disease                              6-14 yrs              4
Diarrhoeal diseases                                Total                 1
                                                   Above 55 yrs.         1
HIV/AIDS                                           Above 55 yrs.         4
Other Fever Related                                Above 55 yrs.         6
Neurological disease including strokes             6-14 yrs              0
Other Fever Related                                15-55 yrs.            0
Respiratory diseases including infections (othe... 6-14 yrs              0
Known Acute Disease                                6-14 yrs              2
Heart disease/Hypertension related                 6-14 yrs              2
HIV/AIDS                                           6-14 yrs              0
Tuberculosis                                       6-14 yrs              0
Diarrhoeal diseases                                15-55 yrs.            0
Other Fever Related                                6-14 yrs              0
Malaria                                            15-55 yrs.            0
                                                   Total                 0
Diarrhoeal diseases                                6-14 yrs              0
Malaria                                            Above 55 yrs.         0
                                                   6-14 yrs              0

                                                                  Aug-2015  \
Known Chronic Disease                              Total               258
Heart disease/Hypertension related                 Total               173
Respiratory diseases including infections (othe... Total               161
Known Chronic Disease                              Above 55 yrs.       177
Respiratory diseases including infections (othe... Above 55 yrs.       143
Heart disease/Hypertension related                 Above 55 yrs.       120
Causes not known                                   Total               172
Neurological disease including strokes             Total                97
Causes not known                                   Above 55 yrs.       138
Neurological disease including strokes             Above 55 yrs.        84
Known Acute Disease                                Total                74
Known Chronic Disease                              15-55 yrs.           79
Known Acute Disease                                Above 55 yrs.        60
Heart disease/Hypertension related                 15-55 yrs.           53
Respiratory diseases including infections (othe... 15-55 yrs.           18
Known Acute Disease                                15-55 yrs.           12
Causes not known                                   15-55 yrs.           28
Neurological disease including strokes             15-55 yrs.           11
Tuberculosis                                       Total                10
                                                   15-55 yrs.           10
HIV/AIDS                                           Total                 4
Causes not known                                   6-14 yrs              6
HIV/AIDS                                           15-55 yrs.            0
Other Fever Related                                Total                 6
Tuberculosis                                       Above 55 yrs.         0
Known Chronic Disease                              6-14 yrs              2
Diarrhoeal diseases                                Total                 6
                                                   Above 55 yrs.         6
HIV/AIDS                                           Above 55 yrs.         4
Other Fever Related                                Above 55 yrs.         4
Neurological disease including strokes             6-14 yrs              2
Other Fever Related                                15-55 yrs.            2
Respiratory diseases including infections (othe... 6-14 yrs              0
Known Acute Disease                                6-14 yrs              2
Heart disease/Hypertension related                 6-14 yrs              0
HIV/AIDS                                           6-14 yrs              0
Tuberculosis                                       6-14 yrs              0
Diarrhoeal diseases                                15-55 yrs.            0
Other Fever Related                                6-14 yrs              0
Malaria                                            15-55 yrs.            0
                                                   Total                 0
Diarrhoeal diseases                                6-14 yrs              0
Malaria                                            Above 55 yrs.         0
                                                   6-14 yrs              0

                                                                  Sep-2015  \
Known Chronic Disease                              Total               173
Heart disease/Hypertension related                 Total               226
Respiratory diseases including infections (othe... Total               209
Known Chronic Disease                              Above 55 yrs.       131
Respiratory diseases including infections (othe... Above 55 yrs.       199
Heart disease/Hypertension related                 Above 55 yrs.       170
Causes not known                                   Total               163
Neurological disease including strokes             Total               128
Causes not known                                   Above 55 yrs.       133
Neurological disease including strokes             Above 55 yrs.       118
Known Acute Disease                                Total                80
Known Chronic Disease                              15-55 yrs.           38
Known Acute Disease                                Above 55 yrs.        54
Heart disease/Hypertension related                 15-55 yrs.           56
Respiratory diseases including infections (othe... 15-55 yrs.            8
Known Acute Disease                                15-55 yrs.           26
Causes not known                                   15-55 yrs.           26
Neurological disease including strokes             15-55 yrs.            6
Tuberculosis                                       Total                12
                                                   15-55 yrs.            8
HIV/AIDS                                           Total                14
Causes not known                                   6-14 yrs              4
HIV/AIDS                                           15-55 yrs.           10
Other Fever Related                                Total                 7
Tuberculosis                                       Above 55 yrs.         4
Known Chronic Disease                              6-14 yrs              4
Diarrhoeal diseases                                Total                 8
                                                   Above 55 yrs.         8
HIV/AIDS                                           Above 55 yrs.         4
Other Fever Related                                Above 55 yrs.         4
Neurological disease including strokes             6-14 yrs              4
Other Fever Related                                15-55 yrs.            2
Respiratory diseases including infections (othe... 6-14 yrs              2
Known Acute Disease                                6-14 yrs              0
Heart disease/Hypertension related                 6-14 yrs              0
HIV/AIDS                                           6-14 yrs              0
Tuberculosis                                       6-14 yrs              0
Diarrhoeal diseases                                15-55 yrs.            0
Other Fever Related                                6-14 yrs              1
Malaria                                            15-55 yrs.            0

In [276]:
adultsDF = adults.ix[[('Diarrhoeal diseases','Total'),('Tuberculosis','Total'),('Respiratory diseases including infections (other than TB)','Total'),('Malaria','Total'),('Other Fever Related','Total'),('HIV/AIDS','Total'),('Heart disease/Hypertension related','Total'),('Neurological disease including strokes','Total'),('Known Acute Disease','Total'),('Known Chronic Disease','Total'),('Causes not known','Total')]]

In [277]:
adultsDF

,,Apr-2015,May-2015,Jun-2015,Jul-2015,Aug-2015,Sep-2015,Oct-2015,Nov-2015,Dec-2015,Jan-2016,Feb-2016,Mar-2016
Diarrhoeal diseases,Total,0,6,0,1,6,8,1,1,2,2,1,0
Tuberculosis,Total,6,16,10,6,10,12,16,18,16,10,12,14
Respiratory diseases including infections (other than TB),Total,104,179,143,134,161,209,302,214,179,150,183,148
Malaria,Total,0,0,0,0,0,0,0,0,0,0,0,0
Other Fever Related,Total,0,2,2,6,6,7,2,4,6,4,0,0
HIV/AIDS,Total,4,10,6,4,4,14,9,2,4,4,6,4
Heart disease/Hypertension related,Total,140,168,169,171,173,226,201,202,191,185,185,171
Neurological disease including strokes,Total,86,112,116,114,97,128,117,133,124,148,94,120
Known Acute Disease,Total,44,52,36,54,74,80,74,90,74,78,83,66
Known Chronic Disease,Total,209,179,188,248,258,173,235,208,206,244,218,213
Causes not known,Total,126,150,105,170,172,163,128,122,136,134,112,146

In [281]:
data = adultsDF.T
data.columns = ['Diarrhoeal diseases','Tuberculosis','Respiratory diseases including infections (other than TB)','Malaria','Other Fever Related','HIV/AIDS','Heart disease/Hypertension related','Neurological disease including strokes','Known Acute Disease','Known Chronic Disease','Causes not known']
data

,Diarrhoeal diseases,Tuberculosis,Respiratory diseases including infections (other than TB),Malaria,Other Fever Related,HIV/AIDS,Heart disease/Hypertension related,Neurological disease including strokes,Known Acute Disease,Known Chronic Disease,Causes not known
Apr-2015,0,6,104,0,0,4,140,86,44,209,126
May-2015,6,16,179,0,2,10,168,112,52,179,150
Jun-2015,0,10,143,0,2,6,169,116,36,188,105
Jul-2015,1,6,134,0,6,4,171,114,54,248,170
Aug-2015,6,10,161,0,6,4,173,97,74,258,172
Sep-2015,8,12,209,0,7,14,226,128,80,173,163
Oct-2015,1,16,302,0,2,9,201,117,74,235,128
Nov-2015,1,18,214,0,4,2,202,133,90,208,122
Dec-2015,2,16,179,0,6,4,191,124,74,206,136
Jan-2016,2,10,150,0,4,4,185,148,78,244,134
Feb-2016,1,12,183,0,0,6,185,94,83,218,112
Mar-2016,0,14,148,0,0,4,171,120,66,213,146

In [284]:
from bokeh.charts import Line
p = Line(data, notebook=True)
p.xaxis.axis_label = 'Month'
p.yaxis.axis_label = '#Deaths'
p.width = 1000
p.height = 800
show(p)